NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SATODROPS_V2_CONTRACT_ADDRESS=
NEXT_PUBLIC_SATODROPS_FCFS_CONTRACT_ADDRESS=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
SATODROPS_FCFS_SIGNER_PRIVATE_KEY=
